streamlit
pandas
fpdf
ortools
google-cloud-firestore
google-auth
firebase-admin
requests
st-gsheets-connection
pyairtable
uv
fpdf2
openpyxl
streamlit-local-storage
pymongo
dnspython
replit
plotly
reportlab
pypdf
pytz

